@charset "utf-8";
@import "style.css.scss";
@import "chosen.css.scss";

div#loading {
    text-align: center;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    font-size: 16px;
    height: 1.5em;
    line-height: 1.5em;
    z-index: 99999;
}
